@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}
body {
    padding: 0 10%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* ----------- Start Header ----------- */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.logo {
    width: 180px;
    height: 40px;
}
.nav-items {
    display: flex;
    padding-top: 5px;
}
.nav-item {
    padding: 10px 20px;
}

.nav-link {
 color: var(--dark-grayish-blue);
 text-decoration: none;
 position: relative;
 transition: .5s;
}
.nav-link:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -30px;
    left: 0;
    height: 3px;
    background-color: var(--orange);
}
.nav-link:active {
    color: var(--grayish-blue);
 transition: .5s;
}
.nav-link:active::after {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.nav-link:hover {
    color: #000;
 transition: .5s;
}
.user-cart {
    width: 400px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.icon {
    width: 20px;
    height: 20px;
}
.avatar{
    margin: 0 15px;
    width: 40px;
}
.avatar:hover {
    border: 2px solid var(--orange);
    border-radius: 50%;
    cursor: pointer;
}
.avatar:active {
    opacity: 0.9;
}

/* Cart Design */
.cart {
    width: 400px;
    min-height: 400px;
    top: 50px;
    position: absolute;
    background-color: #000;
}
.hidden {
    /* display: none; */
}

/* ----------- Finish Header ----------- */
/* ----------- Start Product ----------- */
/* ----------- Left Side ----------- */
.product {
    display: flex;
    flex-wrap: wrap;
}
.p-images,
.p-info {
    min-width: 500px;
    width: 50%;
    padding: 50px 100px;
}
.p-info {
    padding: 100px;
}
.p-images img {
    border-radius: 10px;
}

.main-image img {
    width: 100%;
}
.explore-images {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.p-thumb {
    position: relative;
    border-radius: 12px;
    cursor: pointer;
}
.p-thumb:hover img {
    opacity: .6;
}
.activeThumb {
    border: 2px solid var(--orange);
}
.activeThumb .thumb-img{
    opacity: .4;
}

.explore-images img {
    width: 70px;
}

/* ----------- right side ----------- */
span.orange {
    color: var(--orange);
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    display: block;
}
.p-name {
    font-size: 36px;
}
.p-description {
    color: var(--dark-grayish-blue);
    font-size: 14px;
    margin: 20px auto;
}
.sale {
    position: absolute;
    background-color: var(--pale-orange);
    color: var(--orange);
    padding: 3px;
    border-radius: 4px;
    margin-left: 4px;
    font-size: 17px;
}
.p-price {
    font-size: 22px;
    position: relative;
}
.old-price {
    color: var(--grayish-blue);
    text-decoration: line-through;
    display: block;
    margin-bottom: 20px;
}
.d-flex {
    display: flex;
    align-items: center;
}
.plus-icon {
    width: 10px;
    height: 10px;
}
.minus-icon  {
    width: 10px;
    height: 5px;
    margin-bottom: 2px;
}
.quantity .q-btn {
    background-color: var(--pale-orange);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.add-to-cart .btn {
    padding: 10px 50px;
    background-color: var(--orange);
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    border-radius: 7px;
}
.btn:hover,
.q-btn:hover {
    opacity: .7;
}
.add-to-cart .btn .icon {
    margin-right: 7px;
    width: 14px;
    height: 14px;

}
